.weather__container{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}
.weather__container::before{
    content: '';
    background: url('../assets/sunset.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.container{
    max-width: 700px;
    height: 550px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top{
    width: 100%;
    margin: 1rem auto;
}
.description{
    position: relative;
    right: -320px;
    transform-origin: 0 0;
    transform: rotate(269deg);
}
.bottom{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(225, 225, 255, 0.2);
}
.bold{
    font-weight: 700;
}
.search{
    text-align: center;
    padding: 1rem;
}
input{
    padding: .7rem 1.5rem;
    border-radius: 25px;
    font-size: 1rem;
    border: none;
    /* border: 1px solid rgba(255, 255, 255, 0.8); */
    /* background-color: rgba(255, 255, 255, 0.1); */
}
